#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    text-align: center;
    font-size: 8vh;
    font-family: 'Cute Font';
}

#score {
    font-size: 5vh;
    text-align: center;
    font-family: 'Cute Font';
}

#play {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 0.3vh solid black;
    border-radius: 3vh;
    width: 7vw;
    font-family: 'Cute Font';
    font-size: 3.5vh;
}