#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading {
    text-align: center;
    font-size: 7.5vh;
    font-family: 'Cute Font';
}

#score {
    font-size: 4.5vh;
    text-align: center;
    font-family: 'Cute Font';
}

#play {
    text-align: center;
    border: 0.3vh solid lightslategray;
    border-radius: 3vh;
    background-color: rgb(173, 192, 211);
    width: 6vw;
    font-family: 'Cute Font';
    font-size: 3.3vh;
    user-select: none;
    cursor: pointer;
}

#play:hover {
    background-color: black;
    color: rgb(173, 192, 211);
    transition: 0.4s;
}
